html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  // overflow-x: hidden;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img{
  display: block;
}
body {
  font-family: $ff;
  font-weight: 400;
  font-size: $fz;
  line-height: $lh;
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto; 
}

.footer {
  flex: 0 0 auto;
}

.container { 
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 47px;
}
//title, white-title, line-black, line-green
.title {
  font-family: $ff-1;
  font-size: 75px;
  line-height: 82px; 

  text-transform: uppercase;

  color: #000;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 39px;
  max-width: 650px;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 117px;
    background-color: #000;
    bottom: 0;
    left: 0;
  }

  &.line-green::before {
    background-color: $green;
  }

  &.white-title {
    color: #fff;
  }
}


//button, button-green
.button {
  @include button();
  @include f700;
  color: #ffffff;
  line-height: 48px;
  padding: 0 18px;
  &-green{
    background-color: $green; 
  }
}
//content-box
.content-box {
  padding: 192px 0 180px;
  max-width: 1203px;
  margin: 0 auto;
  width: 100%;
}
// Button-box
.button-box {
  width: 130px;
  height: 130px;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: $green;
  }
}
// Button-slider
.button-slider {
  background-color: $grey;
  top: 46%;
  transform: translate(0%, -50%);
  position: absolute;
  @include button();

  &::after {
    width: 22px;
    height: 35px;
  }

  &:focus {
    outline: none;
  }

  &.clients__slider-button-left {
    left: -130px;

    &::after {
      background-image: url(../images/icon/arrow/arrow-left.png);
    }
  }

  &.clients__slider-button-right {
    right: -130px;

    &::after {
      background-image: url(../images/icon/arrow/arrow-right.png);
    }
  }
}
 
 // Box, Box-shadow
.box {
  //>box-text
  display: flex;
  min-height: 252px; 
  //box
  width: 275px;
  height: 252px;
  position: relative;
  cursor: pointer;

  &:hover>.shadow-box {
    min-height: 100%; 

    &.shadow-box-green {
      background: $bgc;
    }
    &.shadow-box-black {
      background: #000;
    }
  }
  &-white{
    background-color: #fff;
  }
}
.box-text{
  font-family: $ff-2;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  text-transform: uppercase;
  margin: auto 0;
  padding: 0 19px; 
}
.shadow-box {
  overflow: hidden;
  height: 0;
  top: 0;
  background: transparent;
  position: absolute;
  transition: all, 0.5s;
  min-height: 0; 
  padding: 6px 18px;
}
 //mobil
  
.menu__btn,
.header__btn-menu {
  display: none;
}