//colors 
$green:#32a94a;
$grey:#dadada;
$darkDrown:#413f34;
//backgrond fon
$bgc:#24ad4a;

//body-start
$ff: "Assistant"; //regular  
$ff-1: "Impact"; //second 
$ff-2: "Assistant SemiBold"; //second 
$fz:22px;
$lh:35px;

//body-end   
@mixin f700 {
    font-family: $ff;
    font-weight: 700;
}

@mixin button() {   
    display: block;  
    cursor: pointer; 
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: none;
}

@mixin input() {
    border: none;
} 
//@include f700; 
//@include button();
//@include input() ;
.slideDown{
    animation-name: slideDown; 
 
    animation-duration: 1s;  
 
    animation-timing-function: ease;      
 
    visibility: visible !important;       
}
 
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }           
    100% {
        transform: translateY(0%);
    }       
}

.slideUp{
    animation-name: slideUp; 
    animation-duration: 1s;  
 
    animation-timing-function: ease;     
 
    visibility: visible !important;         
}
 
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}
  