//colors 
$green:#32a94a;
$grey:#dadada;
$darkDrown:#413f34;
//backgrond fon
$bgc:#24ad4a;

//body-start
$ff: "Assistant"; //regular  
$ff-1: "Impact"; //second 
$ff-2: "Assistant SemiBold"; //second 
$fz:22px;
$lh:35px;

//body-end   
@mixin f700 {
    font-family: $ff;
    font-weight: 700;
}

@mixin button() {   
    display: block;  
    cursor: pointer; 
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: none;
}

@mixin input() {
    border: none;
} 
//@include f700; 
//@include button();
//@include input() ;