//colors
$white: #f2f2f2;
$red:#E51A4B;
$green:#24ad4a;
$grey:#dadada;
$darkDrown:#413f34;
//backgrond fon
$bgc:#32a94a;

//body-start
$ff: "Assistant",
sans-serif; //regular  
$ff-1: "Impact",
sans-serif; //second 
$fz:22px;
$lh:35px;
//body-end 